.page-home {
  width: 100vw;
  min-height: 100vh;
  background-color: #0F0E10;
}

.dashboard-itens-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin:  30px 0;
  width: 100vw;
}

.main-content {
  position: relative;
  display: flex;
  width: 100vw;
  transition: 1s ease-in-out;
  z-index: 2;
}

.gradient-home {
  width: 100vw;
  height: 40vh;
  position: absolute;
  background: linear-gradient(180deg, rgba(192,0,82,1) 0%, rgba(15,14,16,1) 100%);
  z-index: 1;
}

.side-menu {
  top: 5%;
  height: 90vh;
  min-width: 50px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  position: fixed;
  background-color: white;
  display: flex;
  flex-direction: column;
  transition: inherit;
  z-index: 3;
}

.icon-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.icons-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
}

.icon {
  background-color: transparent;
  border-radius: 10px;
  color: var(--secondColor);
  cursor: pointer;
  border: none;
  font-size: 2em;
  padding: 5px;
  z-index: 4;
  margin: 5px;
  overflow: hidden;
}

.icon > p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon span {
  width: 80%;
  text-align: center;
}
 

.icon-active {
  color: white;
  background-color: var(--mainColor);
}

.main-title-container {
  width: 100%;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}