@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --mainColor: rgb(192, 0, 82);
  --mainColorDisabled: rgb(192, 89, 134);
  --secondColor: rgba(60,0,92,1);
}

.hero-title {
  font-size: 3em;
}

.text-input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--mainColor);
  color: white;
  padding: 5px;
  font-size: 1.5em;
}

.bot {
  width: 100%;
  font-size: 1.3em;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  margin: 15px;
  background-color: var(--mainColor);
  color: white;
  padding: 10px;
  cursor: pointer;
}

.bot:disabled {
  background-color: var(--mainColorDisabled);
  cursor: auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    top: -20%;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

.fade-in {
  position: relative;
  animation: fadeIn 1s ease;
}

.main-title {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
